# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django stuff
*.log
db.sqlite3

# Virtual environment
venv/
env/
*.env

# Frontend stuff
node_modules/
client/node_modules/
client/build/
client/.pnp
client/.pnp.js

# IDE settings
.vscode/
.idea/
client/src/style.css
